<div class="page">
  <h3 class="space-between">
      <span>Mail Notifications Administration 
        <span class="comment">
          ({{ mailNotifications.data.length }} mail notification<ng-container *ngIf="mailNotifications.data.length !== 1">s</ng-container>)
        </span>
      </span>
      <button mat-raised-button color="primary" (click)="onNew()"> New </button>
  </h3>
  <form [formGroup]="mailNotificationFilterForm">
      <mat-form-field class="full-width">
          <mat-label> Apply any filter </mat-label>
          <input matInput formControlName="filter">
          <button mat-button matSuffix color="accent" (click)="onResetFilter()"> Reset Filter </button>
      </mat-form-field>
  </form>

  <table mat-table matSort [dataSource]="mailNotifications">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
        <td mat-cell *matCellDef="let mailNotification"> {{mailNotification.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
        <td mat-cell *matCellDef="let mailNotification"> {{mailNotification.code}} </td>
      </ng-container>
    
      <!-- Alias Column -->
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef> Subject </th>
        <td mat-cell *matCellDef="let mailNotification"> {{mailNotification.subject}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let mailNotification">
          <button mat-button color="primary" (click)="onUpdate(mailNotification)"> update </button>
          <button mat-button color="accent" (click)="onDelete(mailNotification)"> delete </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
</div>